.book-main-cnt {
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 235px;
    height: auto;
    font-family: 'Roboto', sans-serif;
}

.book-photo-cnt {
    background-color: #f3efef;
    width: 233px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-photo {
    max-width: 100%;
    max-height: 100%;
}

.book-details-cnt {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book-author-name {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    color: #878787;
}

.book-rating {
    display: inline-block;
    background-color: green;
    color: #ffffff;
    font-size: 12px;
    width: 30px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.book-rating + span{
    font-size: smaller;
    color: #878787;
}

.book-price {
    font-weight: bold;
    color: #0A0102;
}

.book-price del {
    color: #878787;
    font-weight: normal;
}
