<div class="order-confirmation">
    <div class="confirmation-icon">
      <img src="../../../assets/images/orderFireWorks.jpg" alt="Order Placed Successfully">
    </div>
    <h1>Order Placed Successfully</h1>
    <p>hurray!! your order is confirmed</p>
    <p>the order id is <strong>#123456</strong> save the order id for further communication..</p>
  
    <div class="contact-details">
      <table>
        <tr>
          <th>Email us</th>
          <th>Contact us</th>
          <th>Address</th>
        </tr>
        <tr>
          <td>thanaykumaryr@gmail.com</td>
          <td>+91 8163475881</td>
          <td>No 17/1, 3rd A Cross, SVG Nagar, Moodalapalya, Nagarbhavi Main Road, Bangalore 560072</td>
        </tr>
      </table>
    </div>
  
    <button class="continue-shopping" routerLink="/dashboard/book">CONTINUE SHOPPING</button>
  </div>
  